* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
}

button {
    margin: 10px 20px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px;
    border: none;
}

div {
    margin: 10px 20px;
}