@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@100&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

body {
    background-image: url('https://images.unsplash.com/photo-1516339901601-2e1b62dc0c45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=742&q=80');
    background-position: center;
    background-attachment: fixed;
}

.container {
    border: 1px solid white;
    margin: 200px auto;
    padding: 50px;
    width: 350px;
    border-radius: 10px;
    background-image: url('https://images.unsplash.com/photo-1465101162946-4377e57745c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1756&q=80');
}

.displaypanel {
    border: 1px solid black;
    height: auto;
    margin: 30px auto;
    padding: 20px;
    text-align: right;
    border-radius: 10px;
    background-color: white;
}

#prev_display, #display {
    word-wrap: break-word;
    padding: 10px;
    height: auto;
    font-size: 2em;
    text-align: right;
}

.top{
    display: flex;
    gap: 5px;
    margin: 10px auto;
}

.clear, .delete {
    width: 50%;
}

.number, .operator, .equal, .clear, .delete {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

#calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
}

.number:hover, .operator:hover, .equal:hover, .clear:hover, .delete:hover {
    transform: scale(1.05);
}

.delete {
    background-color: #E35335;
}

.clear {
    background-color: #A7C7E7;
}