@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@100&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Roboto, sans-serif;
}

li {
    list-style: none;
}

.aside_container, .main_container, .header_container {
    border: 1px solid black;
}

.super_container {
    display: grid;
    grid-template-columns: 20vw auto;
    grid-template-areas: 
    'aside header'
    'aside main';
}

.aside_container{
    grid-area: aside;
    height: 100vh;
    background-color: lightblue;
    color: white;
    text-align: center;
}

.aside_container aside div {
    margin-bottom: 40px;
}
.aside_container h3 {
    margin-top: 20px;
}

.header_container{
    grid-area: header;
    text-align: center;
}

.header ul{
    display: flex;
    flex-direction: row;
}

.main_container {
    grid-area: main;
}