@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@100&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.nav, .navbar {
    display: flex;
    width: 100%;
    color: white;
    align-items: center;
}

.headerlogo{
    width: 200px;
}

.nav {
    justify-content: flex-end;
}

.nav li {
    margin: 20px;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: white;
}

.hero {
    background-color: #1F2937;
    padding: 20px 300px;
    height: auto;
}

.intro_txt {
    display: flex;
    padding: 100px 0;
    gap: 40px;
    color: white;
}

.intro_txt img {
    height: 270px;
    width: 600px;
}

.main_header {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.main_undertxt {
    font-size: 18px;
}

.signup {
    background-color: #3882F6;
    font-size: 18px;
    margin: 15px 0;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
}

.information {
    display: flex;
    align-items: center;
    margin: 80px 40px;
    flex-flow: column wrap;
    height: auto;
}

.list_items {
    margin: 30px 300px;
    display: flex;
    gap: 15px;
}

.list img {
    border: 2px solid blue;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 100px 300px;
    background-color: #E5E7EB;
    height: auto;
    font-size: 26px;
}

.author {
    align-self: flex-end;
}

.signup_time {
    margin: 100px 300px;
    padding: 70px;
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.button {
    color: white;
    background-color: transparent;
    padding: 5px 23px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 18px;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 70px;
    font-size: 24px;
}